html {
  font-style: normal;
  ::-webkit-scrollbar {
    width: 0;
  }
  font-size: 10px;
}
main {
  min-height: 97vh;
}

button {
  display: block;
  background-color: transparent;
  border: none;
}
